<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<form method="POST" action="/update/{{form.data.eid}}">
    {% csrf_token %}
    <table>
         <tr><td><input name="Name" required value="{{ form.data.Name}}" >
        </td></tr>

         <tr><td><input name="Address" required  value="{{ form.data.Address}}" >
        </td></tr>

         <tr><td><input name="Gender" required  value="{{ form.data.Gender}}" >
        </td></tr>

        <tr>
            <td>
                <button type="submit">Update</button>
            </td>

        </tr>
    </table>
</form>
{% endblock %}
</body>
</html>