<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form method="POST" action="add">
        {% csrf_token %}
         <label>ID:</label>
        <div>{{ form.eid }}</div>
         <label>Name: </label>
        <div>{{ form.Name }}</div>
         <label>Address: </label>
        <div>{{ form.Address }}</div>
         <label>Gender: </label>
        <div>{{ form.Gender }}</div>
         <label>joined_date: </label>
        <div>{{ form.joined_Date}}</div>
         <label>created_time: </label>
        <div>{{ form.created_Time }}</div>
         <label>updated_time: </label>
        <div>{{ form.updated_time }}</div>
        <div>
            <button type="submit">ADD</button>
        </div>

    </form>
{% endblock %}
</body>
</html>