<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>
<table class="table table-striped">

    <tr>
     <th>ID</th>
     <th>Name</th>
     <th>Address</th>
     <th>Gender</th>
     <th>Joined_Date</th>
     <th>Created_Time</th>
     <th>Updated_Time</th>
    </tr>

    {% for i in employee %}
    <tr>
        <td>{{i.eid}}</td>
        <td>{{i.Name }}</td>
        <td>{{i.Address}}</td>
        <td>{{i.Gender}}</td>
        <td>{{i.joined_Date}}</td>
        <td>{{i.created_Time}}</td>
        <td>{{i.updated_time}}</td>
        <td>
            <a href="edit/{{i.eid}}">Edit</a>
        </td>
          <td>
            <a href="delete/{{i.eid}}">Delete</a>
        </td>
    </tr>

    {% endfor %}


</table>
{% endblock %}
</body>
</html>