<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<h1><center>Employee_Form</center></h1>
<p>
<center><a href ="load_form">Add New</a></center>
<center><a href ="show">Show_All</a></center>

</p>

{% endblock %}
</body>
</html>